[Unit]
Description=RDoctor - RChain Doctor
After=network.target

[Service]
ExecStart=/opt/rdoctor-backend/run
Restart=always

[Install]
WantedBy=multi-user.target
